{% extends 'shared/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% translate "Create chat room" %}<br>
    <input id="create-room-name-input" type="text" size="100" placeholder="Room Name"><br>
    <input id="create-room-name-submit" type="button" value="Enter">
    <br>
    <br>
    {% translate "Enter chat room code" %}<br>
    <input id="enter-room-name-input" type="text" size="100" placeholder="Room code"><br>
    <input id="enter-room-name-submit" type="button" value="Enter">
{% endblock %}

{% block scripts %}
<script>
    // Create chat room logic
    document.querySelector('#create-room-name-input');
    document.querySelector('#create-room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {
            document.querySelector('#create-room-name-submit').click();
        }
    };

    document.querySelector('#create-room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#create-room-name-input').value;
        var uuid = crypto.randomUUID();
        window.location.pathname = '/chat/' + uuid + '/' + roomName + '/';
    };

    // Enter chat room logic
    document.querySelector('#enter-room-name-input');
    document.querySelector('#enter-room-name-input').onkeyup = function(e) {
        if (e.key === 'Enter') {
            document.querySelector('#enter-room-name-submit').click();
        }
    };

    document.querySelector('#enter-room-name-submit').onclick = function(e) {
        var uuid = document.querySelector('#enter-room-name-input').value;
        window.location.pathname = '/chat/' + uuid + '/';
    };
</script>
{% endblock %}