{% extends "shared/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container mb-2">
    <div class="card">
        <h1 class="card-header text-center">
            {{ chat.name }}
            {% if chat.is_group_chat %}
                <button id="copy-chat-id" class="btn btn-secondary ms-2" data-bs-toggle="tooltip" data-bs-title="{% translate "Copiar ID do chat" %}">
                    <i class="bi bi-clipboard"></i> 
                </button>
            {% endif %}
        </h1>
        <div class="card-body">
            <div id="chat" class="chat-container">
                {% for message in chat.messages.all %}
                    <div class="d-flex {% if message.sender == user %}justify-content-end{% else %}justify-content-start{% endif %}">
                        {% if message.sender != user %}
                            <a href="{% url 'friend_profile' message.sender.id %}">
                                <img src="{{ message.sender.avatar.url }}" loading="lazy" alt="{% translate "Foto do usuário" %}" width="30" height="30" class="rounded-circle me-2">
                            </a>
                        {% endif %}
                        <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">{{ message.content }}</div>
                        {% if message.sender == user %}
                            <a href="{% url 'profile' %}">
                                <img src="{{ message.sender.avatar.url }}" loading="lazy" alt="{% translate "Foto do usuário" %}" width="30" height="30" class="rounded-circle ms-2">
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="input-group mt-2">
                <textarea id="chat-message-input" rows="1" class="form-control" placeholder="{% translate 'Digite sua mensagem...' %}" style="resize: none;"></textarea>
                {% if receiver %}
                <a href="{% url 'add_match' receiver.id %}?next={{ request.get_full_path }}" class="btn btn-success" data-bs-toggle="tooltip" data-bs-title="{% translate "Iniciar partida de pong" %}">
                    {% translate "Iniciar partida" %}
                </a>
                {% endif %}
                <button id="chat-message-submit" type="button" class="btn btn-primary" disabled>{% translate "Enviar" %}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const chat = document.getElementById("chat");
    const input = document.getElementById("chat-message-input");
    const submitButton = document.getElementById("chat-message-submit");
    
    {% if not is_blocked %}
    class ChatWebSocket extends BaseWebSocket {
        constructor() {
            super("chat/{{chat.id}}");
            this.socket.onmessage = (e) => this.handleMessage(e);
        }

        handleMessage(e) {
            const data = JSON.parse(e.data);
            const message = document.createElement("div");
            message.classList.add("d-flex", data.message.sender_id === "{{ user.id }}" ? "justify-content-end" : "justify-content-start");

            const msgBubble = document.createElement("div");
            msgBubble.classList.add("message", data.message.sender_id === "{{ user.id }}" ? "sent" : "received");
            msgBubble.textContent = data.message.content;

            if (data.message.sender_id !== "{{ user.id }}") {
                const avatar = document.createElement("img");
                avatar.src = data.message.sender_avatar;
                avatar.classList.add("rounded-circle", "me-2");
                avatar.width = 30;
                avatar.height = 30;
                message.appendChild(avatar);
            }

            message.appendChild(msgBubble);

            if (data.message.sender_id === "{{ user.id }}") {
                const avatar = document.createElement("img");
                avatar.src = data.message.sender_avatar;
                avatar.classList.add("rounded-circle", "ms-2");
                avatar.width = 30;
                avatar.height = 30;
                message.appendChild(avatar);
            }

            chat.appendChild(message);
            chat.scrollTop = chat.scrollHeight;
            this.readMessages();
        }

        readMessages() {
            this.socket.send(JSON.stringify({ type: "read-messages" }));
        }

        sendMessage(content) {
            if (content === "") return;
            this.socket.send(JSON.stringify({ type: "new-message", message: content }));
        }
    }

    const chatWebSocket = new ChatWebSocket();

    input.addEventListener("input", () => {
        submitButton.disabled = input.value.trim() === "";
        input.rows = input.value.split("\n").length;
    });
    input.addEventListener("keydown", (e) => {
        if (e.key === "Enter" && !e.shiftKey && input.value.trim() !== "") {
            e.preventDefault();
            submitButton.click();
        }
    });

    submitButton.addEventListener("click", () => {
        chatWebSocket.sendMessage(input.value.trim());
        input.value = "";
        input.rows = 1;
        submitButton.disabled = true;
    });
    {% endif %}

    const copyChatIdButton = document.getElementById("copy-chat-id");
    if (copyChatIdButton) {
        copyChatIdButton.addEventListener("click", () => {
            navigator.clipboard.writeText("{{ chat.id }}").then(() => {
                showToast("{% translate 'Sucesso' %}", "{% translate 'Chat ID copiado para a área de transferência!'%}", "bg-success", "text-white");
            })
            .catch(err => {
                console.error("Erro ao copiar o Chat ID:", err);
                showToast("{% translate 'Erro' %}", "{% translate 'Falha ao copiar o Chat ID!' %}", "bg-danger", "text-white");
            });
        });
    }

    function showToast(title, message, bgClass, colorClass) {
        const toastContainer = document.getElementById("toasts");
        const toastElement = document.createElement("div");
        toastElement.className = `toast fade show ${bgClass} ${colorClass}`;
        toastElement.setAttribute("role", "alert");
        toastElement.setAttribute("aria-live", "assertive");
        toastElement.setAttribute("data-bs-autohide", "true");
        toastElement.innerHTML = `
            <div class="toast-header">
                <strong class="me-auto">${title}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                ${message}
            </div>
        `;
        toastContainer.appendChild(toastElement);
        const bsToast = new bootstrap.Toast(toastElement);
        bsToast.show();
        toastElement.addEventListener("hidden.bs.toast", () => {
            toastElement.remove();
        });
    }

    chat.scrollTop = chat.scrollHeight;
});
</script>
{% endblock %}

{% block styles %}
<style>
    .message {
        max-width: 60%;
        padding: 10px 15px;
        font-size: 1rem;
        word-wrap: break-word;
        display: inline-block;
        white-space: pre-line;
    }

    .sent {
        background-color: #0d6efd;
        border-radius: 20px 0 20px 20px;
        color: white;
        text-align: right;
        position: relative;
    }

    .sent:before {
        display: block;
        clear: both;
        content: '';
        position: absolute;
        top: 0px;
        right: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 15px 12px;
        border-color: transparent transparent #0d6efd transparent;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .sent:after {
        display: block;
        content: '';
        clear: both;
    }

    .received {
        background-color: #e9ecef;
        border-radius: 0 20px 20px 20px;
        color: black;
        position: relative;
    }

    .received:before {
        display: block;
        clear: both;
        content: '';
        position: absolute;
        top: 0px;
        left: -7px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 12px 15px 12px;
        border-color: transparent transparent #e9ecef transparent;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .received:after {
        display: block;
        content: '';
        clear: both;
    }

    .chat-container {
        height: 60vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .chat-container::-webkit-scrollbar {
        width: 6px;
    }

    .chat-container::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }

    .chat-container::-webkit-scrollbar-track {
        background: transparent;
    }
</style>
{% endblock %}
