# Django settings
DJANGO_SECRET_KEY="django-insecure-+l17-3tgywqo5(z!9@tdjutwnv!wi2@8d0xq(u)y79u08dv$9a"
DJANGO_SUPERUSER_USERNAME="superuser"
DJANGO_SUPERUSER_EMAIL="super@gmail.com"
DJANGO_SUPERUSER_PASSWORD="123456"

# 42 OAuth2
CLIENT_ID_42=""
SECRET_42=""

# Database
POSTGRES_DB="postgres"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"

# Redis
# Use REDIS_URL OU REDIS_HOST/REDIS_PORT/REDIS_PASSWORD
# Exemplo para Railway:
# REDIS_URL="redis://default:senha@host:6379"
REDIS_HOST="redis"
REDIS_PORT="6379"
# REDIS_PASSWORD=""
